## .NET
bin/
obj/
*.dll
*.pdb
*.exe
*.so
*.dylib
*.runtimeconfig.json
*.deps.json

## IDE
.vs/
.vscode/
*.csproj.user
*.sln.user
*.vscode/

## Build
.msbuild/
publish/

## OS
.DS_Store
Thumbs.db
FilenameTitlePlugin/obj
FilenameTitlePlugin/bin
FilenameTitlePlugin.Tests/obj
FilenameTitlePlugin.Tests/bin
